

.star-background{
  z-index: -1;
  
  width: 100%;
  height: 100vh;
  background-image: url('../assets/imagens_static/fundoStar.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
    h1{
      color: white;
    }
    .carta-container{
      position: relative;
      z-index: 5;
      width: 100%;
      height: 100vh;
      
      
          .carta{
          width: 40%;
          height: 65%;
          padding: 16px;
          margin:auto;
          position: absolute;
          left: 13%;
        } 
        .btn-carta{
          background-color:transparent;
          border: none;
          position: absolute;
          animation: pulse 1s ease-in-out infinite;
          left: 29.2%;
          img{
            width: 105px;
          }
        }
          .carta-invisible{
            opacity: 0;
            animation: delayFadeIn 3s ease-in;
            position: absolute;
            background-color: antiquewhite;
            width: 40%;
            height: 40%;
            padding: 16px;
            z-index: -5;
            border-radius: 8px;
            left: 50%;
            
          }
          .carta-visible{
            display: block;
            position: absolute;
            background-color: antiquewhite;
            width: 40%;
            height: 40%;
            padding: 16px;
            z-index: -1;
            border-radius: 8px;
            left: 50%;
            animation: abrirCarta 2s ease-in-out;
          }
          .carta-content{
            animation: delayText 0.5s ease ;
            animation-delay: 2s;
          }
      }
    
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.8);
  }
  50% {
    transform: scale(2.5);
  }
  75% {
    transform: scale(1.8);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes delayFadeIn {
  0% {
    transform: rotate(0deg) ;
    z-index: 5;
    opacity: 1;
    
  }
  30%{
    transform: rotate(20deg) translateY(40%);
    opacity: 1;
  }
  60%{
    transform: rotate(-30deg) translateY(80%) translateX(-10%) ;
    opacity: 1;
  
  }
  100%{
    transform: rotate(60deg) translateY(100%) translateX(40%);
    display: none;
    z-index: -5;
  }
  
  
}
@keyframes abrirCarta {
  from {
    transform: translatex(-50%);
    width: 10%;
  }
  to {
    transform: translatey(0);
    width: 40%;

  }
}
@keyframes delayText {
  from{
    opacity: 0;
    
  }
  to{
    opacity: 1;
  }
}
.animacao_text{
  
  
  width: 28ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(28), blink 0.7s 5 ; ;
}
.animate__animated.animate__fadeInLeftBigeftBig{
  animation-duration: 3s;
}
.blur{
  backdrop-filter: blur(1px); /* aplica o efeito de desfoque  mas só funciona no IOS*/
  width: 100%;
  height: 100vh;
  z-index: 0;

}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 28ch;
  }
}
@keyframes blink {

  50% {
    border-right: 4px solid black ;
  }
  
}